{% extends 'parts.html.twig' %}

{% block title %}Users: {{ form.vars.value.namefirst }} {{ form.vars.value.namelast }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1><h1>{{ form.vars.value.namefirst }} {{ form.vars.value.namelast }}</h1></h1>
        </div>
        <div style="padding-top:20px;" class="col-sm-4 hidden-xs text-right">
            {{ form_start(formDelete) }}
            {{ form_widget(formDelete) }}
            <button type="submit" class="btn btn-xl btn-danger"> 
                <span aria-hidden="true" class="glyphicon glyphicon-minus"></span> 
                Delete User
            </button>
            {{ form_end(formDelete) }}
        </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="{{ path('users_manage') }}">Users</a></li>
        <li class="active">{{ form.vars.value.namefirst }} {{ form.vars.value.namelast }}</li>
    </ol>
    
    {% if displayMessage.value != '' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert {{displayMessage.class}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{displayMessage.value}}
                </div>
            </div>
        </div>
    {% endif %}
    <h3>Password</h3>
    {{ form_start(formPassword) }}
    {{ form_widget(formPassword) }}
    {{ form_end(formPassword) }}
    <h3>General Info</h3>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.username) }}
        <div class="col-sm-10">
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="user_name_first">Name</label>
        <div class="col-sm-5">
            {{ form_widget(form.name_first) }}
            {{ form_errors(form.name_first) }}
        </div>
        <div class="col-sm-5">
            {{ form_widget(form.name_last) }}
            {{ form_errors(form.name_last) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        <div class="col-sm-10">
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}