{% extends 'parts.html.twig' %}

{% block title %}Part Types: {{ form.vars.value.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1>{{ form.vars.value.name }}</h1>
        </div>
        <div style="padding-top:20px;" class="col-sm-4 hidden-xs text-right">
            {{ form_start(formDelete) }}
            {{ form_widget(formDelete) }}
            <button type="submit" class="btn btn-xl btn-danger"> 
                <span aria-hidden="true" class="glyphicon glyphicon-minus"></span> 
                Delete Part Type
            </button>
            {{ form_end(formDelete) }}
        </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="{{ path('part_types_manage') }}">Part Types</a></li>
        <li class="active">{{ form.vars.value.name }}</li>
    </ol>
    {% if displayMessage.value != '' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert {{displayMessage.class}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{displayMessage.value}}
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
