{% extends 'parts.html.twig' %}

{% block title %}Part Types: Edit Part Type{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#deleteparttype").click(function () {
                $('#deleteparttype').popover({html: true, content: $('.deleteparttypeform').html()});
                $('#deleteparttype').popover('show');
            });

            $("body").on("click", ".deleteparttypecancel", function () {
                $('#deleteparttype').popover('destroy');
                return false;
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1>Edit Part Type</h1>
        </div>
        <div style="padding-top:20px;" class="col-sm-4 hidden-xs text-right">
            <button type="button" class="btn btn-danger" id="deleteparttype" title="Confirm Delete" data-container="body" data-toggle="popover" data-placement="bottom">
                <span class="glyphicon glyphicon-minus"></span> Delete Part Type
            </button>
            <div class="deleteparttypeform hidden">
                {{ form_start(formDelete) }}
                {{ form_widget(formDelete) }}
                <p>Please confirm you would like to delete <strong>{{ form.vars.value.name }}</strong></p>
                <button type="submit" class="btn btn-xl btn-danger">
                    Delete
                </button>
                <button type="button" class="btn btn-xl btn-default pull-right deleteparttypecancel">
                    Cancel
                </button>
                {{ form_end(formDelete) }}
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="{{ path('part_types_manage') }}">Part Types</a></li>
        <li class="active">Edit Part Type</li>
    </ol>
    {% if displayMessage.value != '' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert {{displayMessage.class}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{displayMessage.value}}
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
