{# app/Resources/views/lucky/number.html.twig #}
{% extends 'parts.html.twig' %}

{% block title %}Part Types: Manage{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table.css') }}" rel="stylesheet" />
    <link href="{{ asset('parttypesfind.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#searchgo").click(function () {
                $('#parttypes').bootstrapTable('refresh');
                return false;
            });

            $("#searchclear").click(function () {
                document.getElementById("parttypessearch").reset();
                $('#parttypes').bootstrapTable('refresh');
                return false;
            });

            // Display the add new part type form
            $("#lAddNew").click(function () {
                $(this).addClass('hidden');
                $('#lAddEditForm,#lAddNewCancel').removeClass('hidden');
                return false;
            });

            // Cancel the adding of a new part type
            $("#lAddNewCancel").click(function () {
                $("#lAddEditForm form")[0].reset();
                $("#lAddNew").removeClass('hidden');
                $('#lAddEditForm,#lAddNewCancel').addClass('hidden');
                return false;
            });

            // Populates the part type table
            $('#parttypes').bootstrapTable({
                columns: [{
                        field: 'name',
                        title: 'Name',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return '<a href="/parttypes/edit/' + row.id + '">' + value + '</a>';
                        }
                    }, {
                        field: 'description',
                        title: 'Description'
                    }, {
                        field: 'no_parts',
                        title: 'Part Qty'
                    }],
                url: '{{ path('parts_types_get')}}',
                pagination: true,
                sidePagination: 'server',
                search: false,
                queryParams: function (params) {
                    var formInfo = $('#parttypessearch').serializeArray();
                    $.each(formInfo, function (index, value) {
                        params[value.name] = value.value;
                    });
                    return params;
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-7">
            <h1>Part Types</h1>
        </div>
        <div class="col-xs-5 text-right" style="padding-top:20px;">
            <a id="lAddNew" href="#" class="btn btn-xl {{addButtonClass}} btn-primary"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Type</a>
            <a id="lAddNewCancel" href="#" class="btn btn-xl {{addFormClass}} btn-danger"> Cancel Add Type</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li class="active">Part Types</li>
            </ol>
        </div>
    </div>
    {% if displayMessage.value != '' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert {{displayMessage.class}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{displayMessage.value}}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div id="lAddEditForm" class="{{addFormClass}}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="parttypessearch">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Name" id="name" class="form-control" name="name">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="hasqty">Has Qty</label>
                    <select id="hasqty" class="form-control" name="hasqty">
                        <option value="">-- All --</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="searchbuttons" class="row">
                    <div class="col-xs-6"><button id="searchgo" class="btn btn-block btn-default">Search</button></div>
                    <div class="col-xs-6"><button id="searchclear" class="btn btn-block btn-danger">Clear</button></div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12"><table id="parttypes"></table></div>
    </div>
{% endblock %}
