{# app/Resources/views/lucky/number.html.twig #}
{% extends 'parts.html.twig' %}

{% block title %}Part Types: Manage{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Display the add new part type form
            $("#lAddNew").click(function () {
                $(this).addClass('hidden');
                $('#lAddEditForm,#lAddNewCancel').removeClass('hidden');
                return false;
            });

            // Cancel the adding of a new part type
            $("#lAddNewCancel").click(function () {
                $("#lAddEditForm form")[0].reset();
                $("#lAddNew").removeClass('hidden');
                $('#lAddEditForm,#lAddNewCancel').addClass('hidden');
                return false;
            });

            // Populates the part type table
            $('#table').bootstrapTable({
                columns: [{
                        field: 'name',
                        title: 'Name',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return '<a href="/parttypes/edit/'+row.id+'">' + value + '</a>';
                        }
                    }, {
                        field: 'description',
                        title: 'Description'
                    }],
                url: '{{ path('parts_types_get')}}',
                pagination: true,
                sidePagination: 'server',
                search: true,
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-7">
            <h1>Part Types</h1>
        </div>
        <div class="col-xs-5 text-right" style="padding-top:20px;">
            <a id="lAddNew" href="#" class="btn btn-xl {{addButtonClass}} btn-primary"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Type</a>
            <a id="lAddNewCancel" href="#" class="btn btn-xl {{addFormClass}} btn-danger"> Cancel Add Type</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li class="active">Part Types</li>
            </ol>
        </div>
    </div>
    {% if displayMessage.value != '' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert {{displayMessage.class}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{displayMessage.value}}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div id="lAddEditForm" class="{{addFormClass}}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <table id="table"></table>
        </div>
    </div>
{% endblock %}
