{% extends 'parts.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Creates the location table
            $('#lnotes').bootstrapTable({
                sidePagination: 'server',
                columns: [{
                        title: 'Added / By',
                        formatter: function (value, row, index) {
                            return row.added.date + ' - ' + row.name_first + ' ' + row.name_last;
                        }
                    }, {
                        field: 'notes',
                        title: 'Notes'
                    }
                ],
                url: '/locations/getnotes/{{ formLocation.vars.value.id }}',
                pagination: true,
                search: true
            });

            $('#lparts').bootstrapTable({
                columns: [{
                        field: 'name',
                        title: 'Name',
                        formatter: function (value, row, index) {
                            return '<a href="/parts/view/' + row.id + '">' + value + '</a>';
                        }
                    },
                    {
                        field: 'part_type',
                        title: 'Type'
                    },
                    {
                        field: 'qty',
                        title: 'Qty'
                    }],
                url: '/parts/search',
                pagination: true,
                sidePagination: 'server',
                search: true,
                queryParams: function (params) {
                    params['locationid'] = $('#locationid').val();
                    return params;
                }
            });
            
            $("#deletelocation").click(function () {
                $('#deletelocation').popover({html: true, content: $('.deletelocationform').html()});
                $('#deletelocation').popover('show');
            });

            $("body").on("click", ".deletelocationcancel", function () {
                $('#deletelocation').popover('destroy');
                return false;
            });
        });
    </script>
{% endblock %}

{% block title %}Locations: {{ formLocation.vars.value.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1>{{ formLocation.vars.value.name }}</h1>
            <input type="hidden" value="{{ formLocation.vars.value.id }}" id="locationid"/>
        </div>
        <div style="padding-top:20px;" class="col-sm-4 hidden-xs text-right">            
            <button type="button" class="btn btn-danger" id="deletelocation" title="Confirm Delete" data-container="body" data-toggle="popover" data-placement="bottom">
                <span class="glyphicon glyphicon-minus"></span> Delete Location
            </button>
            <div class="deletelocationform hidden">
                {{ form_start(formDelete) }}
                {{ form_widget(formDelete) }}
                <p>Please confirm you would like to delete <strong>{{ formLocation.vars.value.name }}</strong></p>
                <button type="submit" class="btn btn-xl btn-danger">
                    Delete
                </button>
                <button type="button" class="btn btn-xl btn-default pull-right deletelocationcancel">
                    Cancel
                </button>
                {{ form_end(formDelete) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('locations_manage') }}">Locations</a></li>
                <li class="active">{{ formLocation.vars.value.name }}</li>
            </ol>
        </div>
    </div>
    {% if displayMessage.value != '' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert {{displayMessage.class}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{displayMessage.value}}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(formLocation) }}
            {{ form_widget(formLocation) }}
            {{ form_end(formLocation) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a>
                    </li>
                    <li role="presentation">
                        <a href="#parts" aria-controls="parts" role="tab" data-toggle="tab">Parts in Location</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="notes">
                        <div class="row" style="margin-top:20px;">
                            <div class="col-xs-12">
                                {{ form_start(formLocationNote) }}
                                {{ form_widget(formLocationNote) }}
                                {{ form_end(formLocationNote) }}
                            </div>
                        </div>
                        <table id="lnotes"></table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="parts">
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="lparts"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}