{% extends 'parts.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Toggles the appearance of the add form
            $("#lAddNew").click(function () {
                $(this).addClass('hidden');
                $('#lAddEditForm').removeClass('hidden');
                return false;
            });

            // Fills / submits the delete location form
            $("#locations").on("click", ".deleteLocation", function () {
                $('#location_delete_idDelete').val($(this).data('locid'));
                {#$.ajax({
                    method: "POST",
                    url: "/locations/delete",
                    data: $('#formLocDel form').serialize()
                }).done(function (msg) {
                    alert("Item Deleted");
                });#}
            });

            // Creates the location table
            $('#locations').bootstrapTable({
                sidePagination:'server',
                columns: [{
                        field: 'id',
                        title: 'ID'
                    }, {
                        field: 'name',
                        title: 'Name',
                        formatter: function (value, row, index) {
                            return '<a href="/locations/edit/' + row.id + '">' + value + '</a>';
                        }
                    }, {
                        field: 'description',
                        title: 'Description'
                    }, {
                        formatter: function (value, row, index) {
                            return '<button type="button" data-locid="' + row.id + '" class="btn btn-xs btn-danger deleteLocation"><span class="glyphicon glyphicon-trash"></span> Disable</button>';
                        },
                        title: 'Actions'
                    }
                ],
                url: '{{ path('locations_get')}}',
                pagination: true,
                search: true
            });
        });
    </script>
{% endblock %}

{% block title %}Locations: Manage{% endblock %}

{% block body %}    
    <div class="row">
        <div class="col-sm-8">
            <h1>Locations</h1>
        </div>
        <div class="col-sm-4 hidden-xs text-right" style="padding-top:20px;">
            <a id="lAddNew" href="#" class="btn btn-xl btn-primary"> New Location</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="lAddEditForm" class="hidden">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <table id="locations"></table>
            <div id="formLocDel">
                {{ form_start(locDeleteForm) }}   
                {{ form_widget(form) }}
                {{ form_end(locDeleteForm) }}
            </div>
        </div>
    </div>
{% endblock %}
