{% extends 'parts.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap-table.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Toggles the appearance of the add form
            $("#lAddNew").click(function () {
                $(this).addClass('hidden');
                $('#lAddEditForm,#lAddNewCancel').removeClass('hidden');
                return false;
            });

            // Cancel the adding of a new part type
            $("#lAddNewCancel").click(function () {
                $("#lAddEditForm form")[0].reset();
                $("#lAddNew").removeClass('hidden');
                $('#lAddEditForm,#lAddNewCancel').addClass('hidden');
                return false;
            });

            // Creates the location table
            $('#locations').bootstrapTable({
                sidePagination: 'server',
                columns: [{
                        field: 'name',
                        title: 'Name',
                        formatter: function (value, row, index) {
                            return '<a href="/locations/edit/' + row.id + '">' + value + '</a>';
                        }
                    }, {
                        field: 'description',
                        title: 'Description'
                    }
                ],
                url: '{{ path('locations_get')}}',
                pagination: true,
                search: true
            });
        });
    </script>
{% endblock %}

{% block title %}Locations: Manage{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <h1>Locations</h1>
        </div>
        <div class="col-sm-4 hidden-xs text-right" style="padding-top:20px;">
            <a id="lAddNew" href="#" class="btn btn-xl btn-primary"> <span class="glyphicon glyphicon-plus"></span> Add Location</a>
            <a id="lAddNewCancel" href="#" class="btn btn-xl hidden btn-danger"> Cancel</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li class="active">Locations</li>
            </ol>
        </div>
    </div>
    {% if displayMessage.value != '' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert {{displayMessage.class}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{displayMessage.value}} 
                    {% if displayMessage.showButton == true %}
                    - <a href="/locations/edit/{{ displayMessage.locationId }}" class="btn btn-default btn-sm">{{displayMessage.buttonText}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div id="lAddEditForm" class="hidden">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <table id="locations"></table>
        </div>
    </div>
{% endblock %}
