{# app/Resources/views/lucky/number.html.twig #}
{% extends 'parts.html.twig' %}

{% block title %}Parts: Add{% endblock %}

{% block body %}
    <h1>Add Part</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('parts_find') }}">Parts</a></li>
        <li class="active">Add Part</li>
    </ol>
    {% if displayMessage.value != '' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert {{displayMessage.class}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{displayMessage.value}} 
                    {% if displayMessage.showButton == true %}
                    - <a href="/parts/view/{{ displayMessage.partId }}" class="btn btn-default btn-sm">{{displayMessage.buttonText}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
