{# app/Resources/views/lucky/number.html.twig #}
{% extends 'parts.html.twig' %}

{% block title %}Parts: Dashboard{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6" id="chartPartTypeBox"><h3>Parts By Type</h3>
            {% if partsAdded|length == 0 %}
                <p class="text-muted">You are not storing any parts yet :O</p>
            {% endif %}
            {% if partsAdded|length > 0 %}
                <div>
                    <canvas id="chartPartType"></canvas>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6" id="chartPartsAddedBox">
            <h3>Parts In Store</h3>
            {% if partsAdded|length == 0 %}
                <p class="text-muted">You are not storing any parts yet :O</p>
            {% endif %}
            {% if partsAdded|length > 0 %}
                <div>
                    <canvas id="chartPartsAdded"></canvas>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><h3>Last 10 Parts Added</h3>
            {% if partsAdded|length == 0 %}
                <p class="text-muted">You are not storing any parts yet :O</p>
            {% endif %}
            {% if partsAdded|length > 0 %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Part</th>
                            <th>Qty</th>
                            <th class="hidden-xs">By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lap in partsAdded %}
                            <tr>
                                <td>{{ lap.added|date("d/m/Y") }}</td>
                                <td><a href="/parts/view/{{ lap.id }}">{{ lap.name }}</a></td>
                                <td>{{ lap.qty }}</td>
                                <td class="hidden-xs">{{ lap.name_first }} {{ lap.name_last }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-md-6"><h3>Last 10 Parts Updated</h3>
            {% if partsUpdated|length == 0 %}
                <p class="text-muted">No parts have been updated yet :O</p>
            {% endif %}
            {% if partsUpdated|length > 0 %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Part</th>
                            <th>Taken</th>
                            <th>Added</th>
                            <th class="hidden-xs">By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lup in partsUpdated %}
                            <tr>
                                <td>{{ lup.added|date("d/m/Y") }}</td>
                                <td><a href="/parts/view/{{ lup.part_id }}">{{ lup.name }}</a></td>
                                <td>{{ lup.no_taken }}</td>
                                <td>{{ lup.no_added }}</td>
                                <td class="hidden-xs">{{ lup.name_first }} {{ lup.name_last }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#chartPartsAdded').length > 0) {

                $.ajax({
                    url: "/parts/getdatepartnumbers/",
                    dataType: "json",
                    type: "GET"
                }).done(function (data) {

                    var chartLabels = new Array();
                    var chartData = new Array();
                    $.each(data, function (index, value) {
                        chartLabels[index] = value.date.date.split(" ")[0];
                        chartData[index] = value.total;
                    });
                    var data = {
                        labels: chartLabels,
                        datasets: [
                            {
                                label: "Total Parts",
                                fillColor: "rgba(220,220,220,0.2)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: chartData
                            }
                        ]
                    };
                    var ctx = document.getElementById("chartPartsAdded").getContext("2d");
                    var chartPartsAdded = new Chart(ctx).Line(data, {responsive: true});
                });
            }


            if ($('#chartPartType').length > 0) {
                $.ajax({
                    url: "/parttypes/getstats",
                    dataType: "json",
                    type: "GET"
                }).done(function (data) {
                    var chartPartsAdded = document.getElementById("chartPartType").getContext("2d");
                    var chartPartType = new Chart(chartPartsAdded).Pie(data, {responsive: true});
                });
            }

        });
    </script>
{% endblock %}
