{# app/Resources/views/lucky/number.html.twig #}
{% extends 'parts.html.twig' %}

{% block title %}Parts: Dashboard{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6"><h3>Parts By Type</h3>
            {% if partsAdded|length == 0 %}
                <p class="text-muted">You are not storing any parts yet :O</p>
            {% endif %}
            {% if partsAdded|length > 0 %}
                <canvas id="chartPartType"></canvas>
                {% endif %}
        </div>
        <div class="col-md-6">
            <h3>No Parts In Store</h3>
            {% if partsAdded|length == 0 %}
                <p class="text-muted">You are not storing any parts yet :O</p>
            {% endif %}
            {% if partsAdded|length > 0 %}
                <canvas id="chartPartsAdded"></canvas>
                {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><h3>Last 10 Parts Added</h3>
            {% if partsAdded|length == 0 %}
                <p class="text-muted">You are not storing any parts yet :O</p>
            {% endif %}
            {% if partsAdded|length > 0 %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Added</th>
                            <th>Part</th>
                            <th>Qty</th>
                            <th>Added By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lap in partsAdded %}
                            <tr>
                                <td>{{ lap.added|date("d/m/Y") }}</td>
                                <td><a href="#">{{ lap.name }}</a></td>
                                <td>{{ lap.qty }}</td>
                                <td><a href="#">{{ lap.name_first }} {{ lap.name_last }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-md-6"><h3>Last 10 Parts Used</h3>
            {% if partsUsed|length == 0 %}
                <p class="text-muted">No parts have been removed from the stores yet :O</p>
            {% endif %}
            {% if partsUsed|length > 0 %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Part</th>
                            <th>Qty Used</th>
                            <th>Used By</th>
                        </tr>
                    </thead>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            // Generates the chart showing the

            // Generates the parts added chart
            var data = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };

            if ($('#chartPartsAdded').length > 0) {
                var ctx = document.getElementById("chartPartsAdded").getContext("2d");
                var myLineChart = new Chart(ctx).Line(data, {responsive: true});
            }


            var dataPartType = [
                {
                    value: 300,
                    color: "#F7464A",
                    highlight: "#FF5A5E",
                    label: "Red"
                },
                {
                    value: 50,
                    color: "#46BFBD",
                    highlight: "#5AD3D1",
                    label: "Green"
                },
                {
                    value: 100,
                    color: "#FDB45C",
                    highlight: "#FFC870",
                    label: "Yellow"
                }
            ];

            if ($('#chartPartType').length > 0) {
                var chartPartsAdded = document.getElementById("chartPartType").getContext("2d");
                var myLineChart = new Chart(chartPartsAdded).Pie(dataPartType, {responsive: true});
            }

        });
    </script>
{% endblock %}
