{% extends 'parts.html.twig' %}

{% block title %}Parts: {{part.name}}{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            adduseformupdate();
            $("#parttype_changeqty_type").change(function () {
                adduseformupdate();
            });
        });

        function adduseformupdate() {
            $('.aucomment,.aunotaken,.aunoadded,#parttype_changeqty_save').removeClass('hidden');
            if ($('#parttype_changeqty_type').val() === '') {
                $('.aucomment,.aunotaken,.aunoadded,#parttype_changeqty_save').addClass('hidden');
            }
            if ($('#parttype_changeqty_type').val() === '1') {
                $('.aunoadded').addClass('hidden');
                $('#parttype_changeqty_no_added').val('0');
                $('#parttype_changeqty_save').text('Use');
            }
            if ($('#parttype_changeqty_type').val() === '0') {
                $('.aunotaken').addClass('hidden');
                $('#parttype_changeqty_no_taken').val('0');
                $('#parttype_changeqty_save').text('Add');
            }
        }
    </script>
{% endblock %}

{% block body %}
    <h1>View Part - {{part.name}}</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('parts_find') }}">Parts</a></li>
        <li class="active">{{part.name}}</li>
    </ol>
    {% if displayMessage.value != '' %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert {{displayMessage.class}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{displayMessage.value}}
                </div>
            </div>
        </div>
    {% endif %}
    <h3>Add/Use</h3>
    {{ form_start(FPartChange) }}
    {{ form_errors(FPartChange) }}
    <div class="row">
        <div class="col-sm-2 autype">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="{{ FPartChange.type.vars.id }}">{{ FPartChange.type.vars.label}}</label>
                </div>
                <div class="col-sm-12">
                    {{ form_widget(FPartChange.type) }}
                    {{ form_errors(FPartChange.type) }}
                </div>
            </div>
        </div>
        <div class="col-sm-2 aunoadded">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="{{ FPartChange.no_added.vars.id }}">{{ FPartChange.no_added.vars.label }}</label>
                </div>
                <div class="col-sm-12">
                    {{ form_widget(FPartChange.no_added) }}
                    {{ form_errors(FPartChange.no_added) }}
                </div>
            </div>
        </div>
        <div class="col-sm-2 aunotaken">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="{{ FPartChange.no_taken.vars.id }}">{{ FPartChange.no_taken.vars.label }}</label>
                </div>
                <div class="col-sm-12">
                    {{ form_widget(FPartChange.no_taken) }}
                    {{ form_errors(FPartChange.no_taken) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-7 aucomment">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="{{ FPartChange.comment.vars.id }}">{{ FPartChange.comment.vars.label }}</label>
                </div>
                <div class="col-sm-12">
                    {{ form_widget(FPartChange.comment) }}
                    {{ form_errors(FPartChange.comment) }}
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-lg-1" style="padding-top:25px;">
            {{ form_widget(FPartChange.save) }}
        </div>
    </div>
    {{ form_end(FPartChange) }}
    <hr />
    <h3>Info</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h3>History</h3>
    {% if partHistory|length == 0 %}
        <p class="text-muted">This part has no history</p>
    {% endif %}
    {% if partHistory|length > 0 %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Changed</th>
                    <th class="hidden-xs">By</th>
                    <th>Taken</th>
                    <th>Added</th>
                    <th class="hidden-xs">Total</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for ph in partHistory %}
                    <tr>
                        <td>{{ph.added|date("d/m/Y H:i:s")}}</td>
                        <td class="hidden-xs">{{ph.name_first }} {{ ph.name_last }}</td>
                        <td>{{ph.no_taken}}</td>
                        <td>{{ph.no_added}}</td>
                        <td class="hidden-xs">{{ph.no_total}}</td>
                        <td>{{ph.comment}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
